@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
	  <meta name="Name" content="@ViewBag.Title - My ASP.NET Application" />
	  <meta name="Description" content="Site Description" />
	  <meta property="og:title" content="@ViewBag.Title - My ASP.NET Application" />
	  <meta property="og:description" content="Site Description" /> 
	  
    @if (TempData["msgAlert"] != null)
    {
        <script>
            alert('@TempData["msgAlert"]')
        </script>
    }	  

	<link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
    
    @RenderSection("head", required: false)    
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">My ASP.NET Webapp</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Home/Contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="#">Other Page 1</a>
              <a class="dropdown-item" href="/Home/ForAuthUser">Other Page 2</a>
              <a class="dropdown-item" href="/Home/ForRoleUser">Other Page 3</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/crudsample">CRUD Sample</a>
            </div>
          </li>
          
          @if (Request.IsAuthenticated)
          {
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	              Hello, @User.Identity.Name!
	            </a>
	            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            	  <a class="dropdown-item" href="#">My Account</a>
	              @if(User.IsInRole("admin"))
	              {
	              	<a class="dropdown-item" href="#">Manage Users</a>
	              }            	  
	              <a class="dropdown-item" href="/Account/Logoff">Log Out</a>	             
	            </div>
	          </li>
          }
          else
          {
  	          <li class="nav-item">
	            <a class="nav-link" href="/Account/Login">Login</a>
	          </li>
          }
          
        </ul>
      </div>
    </div>
  </nav>
  
<div id="footer-flush-bottom-wrap">
   <div id="footer-flush-bottom-main" class="container clear-top body-content">
      @RenderBody()
   </div>
</div>

<footer id="footer-flush-bottom-container" class="container">
   <hr />
   <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>
   
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/bootstrap.bundle.min.js"></script>
    
    @RenderSection("scripts", required: false)
    
    @* This is to remove the overlay ad in Somee.com *@   
    <script>
        $(document).ready(function () {
			var checkExist = setInterval(function() {
			   if ($('#nextAll').nextAll().length) {
			      clearInterval(checkExist);
			      $('#nextAll').nextAll().remove();
			   }
			}, 500);
        });
	</script>

   <hr id="nextAll" style="display:none;" />   
</body>
</html>
