@model ASPNETWebApp45.Models.Product

@{
	ViewBag.Title = "Edit Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Product - @Model.Name</h2>

<form action="/crudsample/Edit" method="post" enctype="multipart/form-data" class="form-horizontal mt-3 zoom-3">
	@Html.AntiForgeryToken()
	<!-- Text input-->
	<div class="form-group row">
		<label for="Id" class="col-sm-2 col-form-label">Id:</label>
		<div class="col-sm-10">
			<input id="Id" name="Id" type="text" value="@Model.Id" class="form-control" readonly>
		</div>
	</div>
	<div class="form-group row">
		<label for="Name" class="col-sm-2 col-form-label">Name:</label>
		<div class="col-sm-10">
			<input id="Name" name="Name" type="text" value="@Model.Name" class="form-control" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="UnitPrice" class="col-sm-2 col-form-label">Unit Price:</label>
		<div class="col-sm-10">
			<input id="UnitPrice" name="UnitPrice" type="text" value="@Model.UnitPrice" class="form-control" required>
		</div>
	</div>
	<div class="form-group row">
		<label for="Unit" class="col-sm-2 col-form-label">Unit:</label>
		<div class="col-sm-10">
			<input id="Unit" name="Unit" type="text" value="@Model.Unit" class="form-control">
		</div>
	</div>

	<!-- File Upload -->
	<div class="form-group row">
		<label for="fileUpload" class="col-sm-2 col-form-label">Upload Photo:</label>
		<div class="col-sm-10">
			<input type="file" accept="image/*" id="fileUpload" name="fileUpload" class="form-control-file">
		</div>
	</div>
	@if (!string.IsNullOrEmpty(Model.PictureFilename))
	{
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Photo:</label>
			<div class="col-sm-10">
				<img src="/uploadedimages/@Model.PictureFilename" class="img-thumbnail" alt="@Model.Name Photo">
			</div>
		</div>
	}

	<!-- Button -->
	<div class="form-group row">
		<label class="col-sm-2"></label>
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			<a href="/crudsample/manage" class="btn btn-secondary btn-lg">Cancel</a>
		</div>
	</div>

</form>

