@model List<ASPNETWebApp45.Models.Product>

@{
	ViewBag.Title = "Manage Products";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="float-right">
	@Html.Partial("_Create")
</p>

<div class="table-responsive">
	<table class="table table-hover text-nowrap">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Unit Price</th>
				<th>Unit</th>
				<th>Photo</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.UnitPrice</td>
					<td>@product.Unit</td>
					<td>
						@if (!string.IsNullOrEmpty(product.PictureFilename))
						{
							<img src="/uploadedimages/thumb/@product.PictureFilename" class="img-rounded" title="@product.Description" />
						}
					</td>
					<td>
						<a href="/crudsample/Edit/@product.Id" class="btn btn-warning btn-sm">Edit</a>
						<a href="/crudsample/Delete/@product.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>

					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


